.cache/
cudnn_windows/
bitsandbytes_windows/
bitsandbytes_windows_deprecated/
dataset/
models/
__pycache__/
venv/
**/.hadolint.yml
**/*.log
**/.gitignore
**/.github
**/.vscode
**/*.ps1

ehemo/models/*
!ehemo/models/.gitkeep
ehemo/train

ehemo/log/*